* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --very-dark-blue: #090b1a;
    --dark-desaturated-blue: #1b1938;
    --soft-violet: #aa5cdb;
    --slightly-main-paragraph: #ffffffbf;
    --slightly-stat-headings: #ffffff99;
}
@font-face {
    font-family: "Inter";
    src: url("./assets/Inter-VariableFont_slnt\,wght.ttf");
}
body {
    width: 100%;
    min-height: 100vh;
    font-family: "Inter";
    background: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    padding: 3rem 2rem;
}
h2,
h3 {
    color: white;
    font-weight: 700;
}
h2 {
    font-size: 2em;
    line-height: 2.25rem;
    max-width: 24rem;
}
h4,
p {
    color: var(--slightly-main-paragraph);
    font-size: 1em;
    font-weight: 400;
}
.card {
    width: 60rem;
    background: var(--dark-desaturated-blue);
    display: flex;
    overflow: hidden;
    border-radius: 0.85rem;
}
.card-content {
    width: 51%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 3rem;
}
.card-content h2 .color {
    color: var(--soft-violet);
}
.card-image {
    width: 49%;
    background: var(--soft-violet);
    overflow: hidden;
}
.card-image img {
    width: 100%;
    height: 110%;
    object-fit: cover;
    opacity: 0.6;
}
.card-details {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.card-details div h3{
    font-size: 1.25em;
}
.card-details div h4{
    font-size: 0.8em;
}
@media screen and (max-width:600px) {
    .card{
        flex-direction: column-reverse;
    }
    .card-image, .card-content{
        width: 100%;
    }
    .card-content{
        padding: 2rem;
    }
    .card-content h2, .card-content p{
        text-align: center;   
    }
    .card-content h2{
        font-size: 1.5em;
    }
    .card-content p{
        font-size: 0.9em;
        margin: auto;
    }
    .card-details{
        flex-direction: column;
        text-align: center;
    }
    .card-details div h3{
        font-size: 1.5em;
    }
}